html,body{
  height:100%;
  width: 100%;
  margin: 0px 0px 0px 0px
}
#container
{
  height: 100%;
  width:  100%;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
#me_circle
{
  height: 532px;
  width: 532px;
  margin-left: calc(50% - 216px);
}
.vertical_center
{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
