html,body{
  height:100%;
  width: 100%;
  margin: 0px 0px 0px 0px
}
#container
{
  height: 100%;
  width:  100%;
}
#me_circle
{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  height: 532px;
  width: 532px;
}
